<button
  *ngFor="let lang of availableLangs; last as last"
  (click)="changeLang(lang.id)"
>
  {{ lang.label }}
</button>

<hr />

<p>
  <b
    >Traducción simple de un key de traducción, haciendo uso del pipe transloco,
    ejemplo: 'hello' | key</b
  >
</p>

{{ "hello" | transloco }}

<hr />

<p><b>Traducción haciendo uso de *transloco="let t"</b></p>

<div *transloco="let t">
  <div>{{ t("avocado", { count: 10 }) }}</div>
</div>

<hr />

Colocando el key de la traducción completa es decir 'level1.friends'

<div *transloco="let t">
  <div>{{ t("level1.friends") }}</div>
  <div>{{ t("level1.kids") }}</div>
  <div>{{ t("level1.cars") }}</div>
  <div>{{ t("level1.drinks") }}</div>
</div>

<hr />

<p>
  <b
    >Haciendo uso de read de transloco donde se evita colocar el sub key de la
    traducción completa, es decir, 'level1.friends' pasa a ser solo 'friends'</b
  >
</p>

<div *transloco="let t; read: 'level1'">
  <div>{{ t("friends") }}</div>
  <div>{{ t("kids") }}</div>
  <div>{{ t("cars") }}</div>
  <div>{{ t("drinks") }}</div>
</div>
